---
import Section from "../section.astro";
import Title from "../title.astro";
import { personal } from "@cv";
import Article from "../article.astro";
const { educacion } = personal;
---

<Section>
  <Title>EDUCACIÓN</Title>

  {
    educacion.map((educacion) => (
      <Article>
        <span slot="title">
          <h3>{educacion.institution}</h3>
          <h2>{educacion.degree}</h2>
        </span>
        <span slot="dates">
          <h3>{educacion.location}</h3>
          <h2><span>{educacion.dates}</span></h2>
        </span>
      </Article>
    ))
  }
</Section>

<style>
   h3 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
  }

  h2 {
    color: var(--primary-color);
    font-style: normal;
    font-weight: normal;
    
  }

  span,
  h2 {
    font-weight: normal;
    color: var(--Body-text);
  }

  span {
    font-weight: normal;
    color: var(--Body-text);
    font-style: italic;
  }
</style>
