<article class="article">
  <div class="container">
    <div class="title-details">
      <slot name="title" />
    </div>
    <div class="location-dates">
      <slot name="dates" />
    </div>
  </div>
  <ul>
    <slot name="responsibilities" />
  </ul>
</article>

<style>

  .article {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .company-.dates {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .location-dates {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
</style>
